PORT=8000
MONGO_URI=mongodb+srv://vanshdeep0112:Vansh%4001@cluster0.uuk8aqf.mongodb.net/real?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=your_super_secret_key_here
CLOUDINARY_CLOUD_NAME=dm4mligoc
CLOUDINARY_API_KEY=895284493414655
CLOUDINARY_API_SECRET=4Q7z-ARDmsGOxvroEGzjQ4-i4PQ
ADMIN_EMAIL=vansh.0112deep@gmail.com
ADMIN_PASSWORD=Vansh@01